@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    color: #fff;
}

body{
    width: 100vw;
    min-height: 100vh;
    background-color: #160430;
    overflow: hidden scroll;
}

.background-shapes{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.background-shapes .shapes-top,
.background-shapes .shapes-bottom{
    position: relative;
    height: 50%;
}

.background-shapes .shapes-top .square{
    position: relative;
    top: -80%;
    left: 37%;
    width: 438px;
    height: 593px;
    background: linear-gradient(to left,
    #4798ee70 5%,
    #ff29c28d 50%);
    filter: blur(170px);
    transform: rotate(-45deg);
}

.background-shapes .shapes-bottom .circle{
    display: inline-block;
    position: absolute;
    width: 571px;
    height: 571px;
    border-radius: 50%;
    filter: blur(170px);
}

.background-shapes .shapes-bottom .circle.left{
    background: linear-gradient(45deg,
    #ffd50078,
    #ff004c94);
    left: -10%;
    bottom: -50%;
}

.background-shapes .shapes-bottom .circle.right{
    background: linear-gradient(45deg,
    #ff00aaa2,
    #2723fe95,
    #23a6fe90);
    right: -10%;
    bottom: -50%;
}

.container{
    width: 100%;
    height: 100%;
}

.container .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 3rem;
}

.container .info .logo{
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: .3s 1s;
}

.container .info .logo img{
    width: 60px;
    cursor: pointer;
}

.container .info .logo h1{
    font-family: 'Kaushan Script';
    font-size: 2.5em;
    cursor: pointer;
}

.container .info .right-menu{
    position: relative;
    user-select: none;
}

.container .info .right-menu .user{
    display: flex;
    align-items: center;
    gap: .7rem;
}

.container .info .right-menu .user .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    border: 2px solid #fff;
}

.container .info .right-menu .user .icon span{
    font-weight: 500;
}

.container .info .right-menu .dropdown-menu{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    margin-top: .5rem;
    background-color: #453659;
    color: #160430;
    border-radius: 7px;
    opacity: 0;
    transition: .1s ease-in-out;
    z-index: -1;
    overflow: hidden;
}

.container .info .right-menu .dropdown-menu a{
    display: none;
    align-items: center;
    gap: .5rem;
    padding: .5rem;
    text-decoration: none;
    transition: .2s;
}

.container .info .right-menu .dropdown-menu a:hover{
    background-color: #6e5c86;
}

.container .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 3rem;
}

.container .content h2{
    font-size: 3em;
}

.container .content .add-hobbie{
    width: 100%;
}

.container .content .add-hobbie form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.container .content .add-hobbie form input{
    background-color: #453659;
    padding: .4rem .7rem;
    border: none;
    outline: none;
}

.container .content .add-hobbie form input::placeholder{
    user-select: none;
}

.container .content .add-hobbie form input[name="info"]{
    width: 20%;
}

.container .content .add-hobbie form .input-number{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 7%;
}

.container .content .add-hobbie form .input-number i{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    font-size: 1.3em;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
    z-index: 2;
}

.container .content .add-hobbie form .input-number i.increment{
    right: .2rem;
}

.container .content .add-hobbie form .input-number i.decrement{
    left: .2rem;
}

.container .content .add-hobbie form .input-number i:hover{
    background-color: #6e5c86;
}

.container .content .add-hobbie form .input-number i:active{
    background-color: #524365;
}

.container .content .add-hobbie form .input-number input{
    width: 100%;
    padding: .4rem 2rem;
    text-align: center;
    border-radius: 20px;
}

.container .content .add-hobbie form input[type="number"]::-webkit-inner-spin-button,
.container .content .add-hobbie form input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.container .content .hobbies{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
    padding: 2rem 0;
}

.container .content .hobbies .hobbie{
    display: flex;
    align-items: end;
    position: relative;
    width: 24rem;
    height: 32rem;
    background: url(../img/Img.webp) center/cover no-repeat;
    border-radius: 2rem;
    overflow: hidden;
    transition: .2s ease-in;
}

.container .content .hobbies .hobbie.visible:hover{
    transform: scale(1.05);
}

.container .content .hobbies .hobbie.hidden {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.5s, transform 0.5s;
}

.container .content .hobbies .hobbie.visible {
    transform: translateY(0);
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes appear {
    from{
        opacity: 0;
        scale: .5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

.container .content .hobbies .hobbie .content-hobbie{
    position: relative;
    width: 100%;
    height: 60%;
    padding: 2rem 1.5rem;
    background: rgba(90, 33, 158, 0.417);
    border-radius: 5rem 0 2rem 2rem;
    backdrop-filter: blur(15px);
}

.container .content .hobbies .hobbie .content-hobbie::before{
    content: '';
    position: absolute;
    top: -60px;
    right: 0;
    width: 15%;
    height: 60px;
    background: rgba(90, 33, 158, 0.417);
    border-top-left-radius: 5rem;
}

.container .content .hobbies .hobbie .content-hobbie::after{
    content: '';
    position: absolute;
    top: -60px;
    right: 0;
    width: 15%;
    height: 60px;
    background-color: #1D101A;
    border-top-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
}

.container .content .hobbies .hobbie .content-hobbie h3{
    font-size: 1.5em;
    font-weight: 600;
}

.container .content .hobbies .hobbie .content-hobbie p{
    font-size: .9em;
    color: rgba(255, 255, 255, 0.55);
}

.container .content .hobbies .hobbie .content-hobbie .more-menu{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
    position: absolute;
    top: 2rem;
    right: 1.5rem;
}

.container .content .hobbies .hobbie .content-hobbie .more-menu i{
    font-size: 1.5em;
    cursor: pointer;
}

.container .content .hobbies .hobbie .content-hobbie .more-menu .menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .3rem;
    padding: .5rem .15rem;
    /* position: absolute; */
    right: -.5rem;
    background-color: #6e5c86;
    border-radius: 10rem;
    scale: 1;
    transition: .2s ease-in;
}

.container .content .hobbies .hobbie .content-hobbie .more-menu .menu.hidden{
    /* display: none; */
    scale: 0;
}

.container .content .hobbies .hobbie .content-hobbie .more-menu .menu a{
    padding: 5px 6px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 50%;
    transition: .2s ease-out;
}

.container .content .hobbies .hobbie .content-hobbie .more-menu .menu a:hover{
    background-color: #524365;
}

.container .content .hobbies .hobbie .content-hobbie .more-menu .menu a.delete:hover{
    background-color: rgba(255, 0, 0, 0.2);
}

.container .content .hobbies .hobbie .content-hobbie .more-menu .menu a.delete:hover i{
    color: rgb(218, 2, 2);
    transition: .2;
}

.container .content .hobbies .hobbie .content-hobbie .percentage-hobbie{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
    margin-top: 1rem;
}

.container .content .hobbies .hobbie .content-hobbie .percentage-hobbie .progress-circle{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: conic-gradient(
        #160430 calc(var(--percentage) / 2),
        #4798ee var(--percentage),
        rgba(255, 255, 255, 0.55) var(--percentage)
    );
}

.container .content .hobbies .hobbie .content-hobbie .percentage-hobbie .percentage-text{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 1.2rem;
    color: #fff;
    width: 90px;
    height: 90px;
    background-color: #2E195C;
    border-radius: 50%;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.container .content .hobbies .hobbie .content-hobbie .percentage-hobbie .time-hobbie{
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    width: 100%;
}

.container .content .hobbies .hobbie .content-hobbie .percentage-hobbie .time-hobbie .hours,
.container .content .hobbies .hobbie .content-hobbie .percentage-hobbie .time-hobbie .minutes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
}

.container .content .hobbies .hobbie .content-hobbie .percentage-hobbie .time-hobbie .number{
    font-size: 1.5em;
    font-weight: 600;
}

.container .content .hobbies .hobbie .content-hobbie .percentage-hobbie .time-hobbie .line{
    position: relative;
    height: 2.5rem;
    border: 1px dashed #453659;
}

.container .content .hobbies .hobbie .content-hobbie .percentage-hobbie .time-hobbie .line::before{
    content: '';
    position: absolute;
    top: -.7rem;
    left: 50%;
    transform: translateX(-50%);
    width: .7rem;
    height: .7rem;
    background-color: #735b94;
    border-radius: 50%;
}

.container .content .hobbies .hobbie .content-hobbie .percentage-hobbie .time-hobbie .line::after{
    content: '';
    position: absolute;
    bottom: -14px;
    left: 50%;
    transform: translateX(-50%);
    height: 10px;
    border: 1px dashed #453659;
}

.container .content .hobbies .hobbie .content-hobbie .percentage-hobbie .time-hobbie .text{
    color: rgba(255, 255, 255, 0.55);
}

/* CLASS DISPLAYED ACTIVE */
.container .info .right-menu .dropdown-menu.displayed{
    top: 100%;
    opacity: 1;
    z-index: 1;
}

.container .info .right-menu .dropdown-menu.displayed a{
    display: flex;
}

/* ANIMATIONS */
/* Vibrate animation */
.vibrate {
  animation: vibrate 0.3s ease;
}

@keyframes vibrate {
  0% { transform: translateX(0); }
  20% { transform: translateX(-3px); }
  40% { transform: translateX(3px); }
  60% { transform: translateX(-2px); }
  80% { transform: translateX(2px); }
  100% { transform: translateX(0); }
}